.addItemDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.bottomBTNDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.bottomBTNDiv {
  background: rebeccapurple;
}